* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 30px;
}

.header div {
  display: flex;
  align-items: center;
}

.header img {
  height: 100px;
}

.header form {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  /* justify-content: space-between; */
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#family {
  display: flex;
  flex-direction: column;
}

#checkbox {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

main form {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-content: center;
}

main img {
  width: 50%;
}

main input {
  width: 100%;
  font-size: 1em;
  padding: 5px 0px;
}

textarea {
  width: 100%;
  font-size: 1em;
}

select {
  width: 100%;
  padding: 10px 5px;
  /* border: none; */
  border-radius: 4px;
  background-color: #f1f1f1;
}

#family {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

label {
  width: 50%;
}